<%- include("../partials/head", { title: "Employee Dashboard", pageStyles: "admin" }) %>
<%- include("../partials/header") %>
<%- include("../partials/flash") %>

<div class="admin-dashboard">

    <h1>Employee Dashboard</h1>
    <p>Welcome, <%= user.name %>!</p>

    <div class="admin-grid">

        <a href="/employee/users" class="admin-link">
            <h2>Manage Users></h2>
            <p>View all registered users and roles.</p>
        </a>

        <a href="/employee/vehicles" class="admin-link">
            <h2>Manage Vehicles></h2>
            <p>View and manage vehicles in the inventory.</p>
        </a>
        <a href="/employee/categories" class="admin-link">
            <h2>Manage Categories></h2>
            <p>View all vehicle categories.</p>
        </a>
        <a href="/employee/requests" class="admin-link">
            <h2>Manage Requests></h2>
            <p>View all user requests.</p>
        </a>
        <a href="/employee/messages" class="admin-link">
            <h2>Check Messages></h2>
            <p>View all user messages.</p>
        </a>
        <a href="/employee/reviews" class="admin-link">
            <h2>Moderate Reviews></h2>
            <p>View all user reviews.</p>
        </a>
    </div>
</div>

<%- include("../partials/footer") %>