<%- include("../../partials/head", {title: "Service Request", pageStyles: "forms" }) %>
<%- include("../../partials/header") %>
<%- include("../../partials/flash") %>

<div class="form-container">
    <h1>Request Service for <%= vehicle.make %> <%= vehicle.model %></h1>

    <form action="/serviceRequest/form/<%= vehicle.slug %>" method="POST" class="form">
    
        <label for="description">Describe what ails your vehicle</label>
        <textarea name="description" id="description" rows="4" required></textarea>
    
        <button type="submit">Submit Service Request</button>
    
    </form>
</div>
<%- include("../../partials/footer") %>