<%- include("../../partials/head", { title: "Rate Us", pageStyles: "forms" }) %>
<%- include("../../partials/header", { title: "Say Your Piece" }) %>
<%- include("../../partials/flash") %>

<div class="form-container">
    <h1>Pick apart <%= vehicle.make %> <%= vehicle.model %></h1>

    <form action="/reviews/<%= vehicle.slug %>" method="POST" class="form">

        <!-- Star Rating -->
        <label>Rate Us</label>
        <div class="star-rating">
            <% for (let i = 5; i >= 1; i--) { %>
                <input type="radio" id="star<%= i %>" name="rating" value="<%= i %>" required>
                <label for="star<%= i %>">☆</label>
            <% } %>
        </div>

        <label for="comment" class="form-label">What do you think about this car? </label>
        <textarea name="comment" id="comment" required></textarea>

        <!-- Hidden Vehicle ID -->
        <input type="hidden" name="vehicle_id" value="<%= vehicle.vehicle_id %>">

        <button type="submit">Submit Review</button>
    </form>
</div>

<%- include("../../partials/footer") %>
