
<%- include("../partials/head", { title: "500 - Server Error", pageStyles: "errors" }) %>
<%- include("../partials/header") %>
<main>
    <img src="/images/500.png" style="width: 100%;" alt="500 server error">
    <p><a href="/">Return to homepage</a></p>
    <% if (NODE_ENV === "development") { %>
        <details open>
            <summary>Error Details (Development Only)</summary>
            <pre><%= error %></pre>
            <pre><%= stack %></pre>
        </details>
    <% } %>
</main>

<%- include("../partials/footer") %>